.App {
  max-width: 520px;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.App-link {
  color: #61dafb;
}


.weather-widget {
   padding: 3rem;
    box-shadow: 0 2px 20px;
    border-radius: 50px;
    margin-top: 70px;
}
